<section class="mw7 center">

  <p *ngIf="error"
    class="pa3 ba b--gold bg-light-yellow gold br2 ma3">
    {{ error }}
  </p>

  <app-post
    *ngFor="let post of postsService.posts$ | async"
    [title]="post.title"
    [body]="post.body"
    [user]="post.user"
    [date]="post.date"
  >
    <app-like
      [count]="post.likeCount"
      (countChange)="postsService.updateLike(post.id)">
    </app-like>
    <a [routerLink]="['/posts', post.id]"
      class="link blue">
      Read More
    </a>
  </app-post>
</section>
